.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: #f4f4f4;
  height: 100vh; /* Ensures full screen height */
}

.hero_content {
  max-width: 600px;
  text-align: left;
}

.hero_content h1 {
  font-size: 3rem;
  color: #008080;
}

.hero_content h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  color: #333;
}

.hero_content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
}

.hero_content button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero_content button:hover {
  background-color: #005757;
  transform: scale(1.05);
}

.hero_img img {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.hero_img img:hover {
  transform: scale(1.1);
}
